*
    margin 0
    padding 0
    box-sizing: border-box
ul, li
    list-style none

.accordion
    display flex
    width 600px
    height 200px
    li  
        flex 1
        cursor pointer
        line-height 200px
        text-align center
        transition flex 500ms
        &:nth-child(1)
            background-color white
        &:nth-child(2)
            background-color black
            color white
        &:nth-child(3)
            background-color white
        &:nth-child(4)
            background-color black
            color white
        &:nth-child(5)
            background-color white
        &:nth-child(6)
            background-color black
            color white
        &:hover
            flex 2